C_BLUE = #40bbe1;
C_RED = #cc73ad;
C_YELLOW = #fbbb1a;
C_GREEN = #94c16c;
C_BLACK = #333333;
C_DARKGRAY = #555555;
C_LIGHTGRAY = #777777;
C_LIGHT = #f0f0f0;
C_WHITE = #ffffff;

B_WALL = url("images/wall.jpg");
B_BLACKTILE = url("images/backgrounds/bg_blacktile.jpg");
B_PAPER = url("images/backgrounds/bg_paper.jpg");
