html, body {
  * {
    box-sizing border-box;
  }
}
.section {
  width: 100%;
  padding: 40px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  .col20, .col30, .col70, .col100 {
    float: left;
    padding: 0 10px;
  }
  .col20 {
    width: 20%;
  }
  .col30 {
    width: 30%;
  }
  .col70 {
    width: 70%;
  }
  .col100 {
    width: 100%;
  }
  @media (max-width: 960px) {
    .col {
      float: none;
    }
    .col20 {
      width: 50%;
    }
    .col30, .col70, .col100 {
      width: 100%;
    }
  }
}
dl {
  overflow: hidden;
  dt, dd {
    float: left;
    line-height: 24px;
    text-align: left;
  }
  dt {
    width: 25%;
    font-weight: bold;
  }
  dd {
    width: 75%;
    margin-bottom: 5px;
  }
  @media (max-width: 960px) {
    dt, dd {
      float: none;
      width: 100%;
    }
  }
}
