#wall {
  background-image: B_WALL;
  background-size: cover;
}
#profile {
  background-color: C_WHITE;
  @media (max-width: 960px) {
    .profile-image {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
}
#works {
  background-color: C_LIGHT;
  table {
    width: 100%;
    th {
      font-weight: bold;
    }
    th, td {
      text-align: left;
    }
    .t-date { width: 20%; }
    .t-description { width: 80%; }
  }
}
#illust {
  background-image: B_PAPER;
  .illust {
    height: 270px;
    @media (max-width: 960px) {
      height: auto;
    }
  }
}
#notice {
  .notice {
    color: C_RED;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
#event {
  background-color: C_LIGHT;
  table {
    .t-date { width: 25%; }
    .t-event { width: 40%; }
    .t-description { width: 35%; }
  }
}
#dist {
  table {
    .t-title { width: 33%; }
    .t-genre { width: 15%; }
    .t-couple { width: 17%; }
    .t-date { width: 13%; }
    .t-size { width: 10%; }
    .t-pages { width: 12%; }
  }
}
#contribute {
  background-color: C_LIGHT;
  table {
    .t-title { width: 40%; }
    .t-description { width: 60%; }
  }
}
#footer {
  p, a {
    text-align: right;
    font-size: 12px;
  }
  a {
    color: C_YELLOW;
  }
  background-image: B_BLACKTILE;
  color: C_LIGHT;
}
