#wall {
  background-image: B_WALL;
  background-size: cover;
  background-attachment: fixed;
}
#profile {
  background-color: C_WHITE;
}
#works {
  background-image: B_BLACKTILE;
  color: C_WHITE;
  ul {
    li {
      text-align: left;
    }
  }
}
#illust {
  background-image: B_PAPER;
}
#event {
  .hidden {
    display: none;
  }
}
